doctype html
html
  head
  body
    form(action="/" method="post")
      label| What is your name? 
      input(name="name",type="text")
      br
      label| What are you working on? 
      input(name="working",type="text")
      br
      input(type="submit")
